@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
html,
body {
  min-height: 100vh;
  width: 100%;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --my-variable-hiadth: 10px;
}

.header__btn-catalog-wrp, .header__btn-catalog, .header__search-form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu-work-time-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__wrp {
  margin-left: auto;
  margin-right: auto;
}

.header__wrp, .header__wrp-left-cont, .header__languages-wrp, .header__wrp-right-cont, .header__catalog-item-wrp, .header__menu-item-link, .header__menu-name-categoty-wrp, .header__menu-work-time-timeline-wrp, .header__menu-social, .header__phone-menu-schedule, .header__phone-menu-schedule-link, .header__menu-personal-wrp, .header__menu-personal-login, .header__menu-personal-basket, .header__menu-personal-comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrp {
  padding-left: 48px;
  padding-right: 48px;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
}

#body-cont {
  overflow-x: hidden;
}

#body-cont.active {
  overflow-y: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.btn-red {
  max-width: 160px;
  width: 100%;
  height: 44px;
  background-color: #c12125;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.btn-red:hover {
  background-color: #991a1d;
}

@media (max-width: 860px) {
  .btn-red:hover {
    background-color: #991a1d00;
  }
}

.btn-red:active {
  background-color: #890019;
}

@media (max-width: 860px) {
  .btn-red:active {
    background-color: #991a1d00;
  }
}

.btn-red-disabled {
  max-width: 160px;
  width: 100%;
  height: 44px;
  background-color: #9c9696;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.btn-red-white-background {
  max-width: 160px;
  width: 100%;
  height: 44px;
  background-color: #9c9696;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.text-h1 {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  color: #090102;
  text-transform: uppercase;
}

.red-diamonds {
  width: 6px;
  height: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c12125;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.input-wrp {
  max-width: 240px;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  border: 1px solid #827d7d;
}

.input-wrp__text {
  padding: 0 4px;
  position: absolute;
  top: -16px;
  left: 16px;
  background-color: #1a1919;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #827d7d;
}

.header {
  width: 100%;
  height: 76px;
  background-color: #1a1919;
  position: relative;
}

.header__wrp {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

@media (max-width: 860px) {
  .header__wrp {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__wrp-left-cont {
  max-width: 436px;
  width: 100%;
}

@media (max-width: 860px) {
  .header__wrp-left-cont {
    max-width: 100px;
  }
}

@media (max-width: 860px) {
  .header__left-img-logo {
    display: none;
  }
}

.header__left-img-logo-mob {
  display: none;
}

@media (max-width: 860px) {
  .header__left-img-logo-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__btn-catalog-wrp {
  width: 100%;
  position: relative;
}

@media (max-width: 860px) {
  .header__btn-catalog-text {
    display: none;
  }
}

.header__btn-catalog {
  max-width: 119px;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 500;
}

@media (max-width: 860px) {
  .header__btn-catalog {
    max-width: 100%;
    width: auto;
    background-color: #c1212500;
  }
}

.header__languages-wrp {
  max-width: 68px;
  width: 100%;
}

@media (max-width: 860px) {
  .header__languages-wrp {
    display: none;
  }
}

.header__languages-btn {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #827d7d;
  text-transform: uppercase;
}

.header__languages-btn.active {
  color: #ffffff;
}

.header__languages-btn-line {
  width: 1px;
  height: 24px;
  background-color: #686464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wrp-right-cont {
  max-width: 620px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header__search-input {
  height: 44px;
  max-width: 460px;
  width: 100%;
  padding-left: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
  opacity: 0;
  border-bottom: 1px solid #9c9696;
}

.header__search-input.activeSerch {
  border-bottom: 1px solid #9c9696;
  opacity: 1;
}

.header__search-form-wrp {
  width: 100%;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.header__search-form-wrp:hover .header__search-input {
  opacity: 1;
}

.header__search-form-wrp.activeSerch {
  background-color: #1a1919;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 100;
  padding-right: 32px;
  padding-left: 16px;
}

.header__btn-search-close {
  position: relative;
  display: none;
}

.header__btn-search-close.activeSerch {
  display: block;
}

.header__btn-search-close-line {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  cursor: pointer;
}

.header__btn-search-close-line-l {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__btn-search-close-line-r {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__btn-search {
  display: contents;
}

.header__right-item {
  display: contents;
  position: relative;
}

@media (max-width: 860px) {
  .header__right-item-icon {
    display: none;
  }
}

.header__right-item-phone {
  max-width: 44px;
  width: 100%;
}

@media (max-width: 860px) {
  .header__right-item-phone {
    display: none;
  }
}

.header__menu-btn-wrp {
  height: 44px;
  width: 44px;
  position: relative;
  z-index: 99;
}

.header__menu-btn-wrp::after, .header__menu-btn-wrp::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #cecaca;
  border-radius: 16px;
  left: 11px;
}

.header__menu-btn-wrp::after {
  top: 30px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header__menu-btn-wrp::before {
  top: 14px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header__menu-btn-wrp.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 22px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header__menu-btn-wrp.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 22px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header__menu-btn-line {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 11px;
  background-color: #cecaca;
  border-radius: 16px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header__menu-btn-line.active {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header__catalog-item-wrp {
  height: 40px;
  width: 100%;
}

.header__catalog-wrp {
  width: 280px;
  background-color: #1a1919;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #e6e5e5;
  row-gap: 4px;
  position: absolute;
  top: 70px;
  left: 43px;
  display: none;
}

@media (max-width: 860px) {
  .header__catalog-wrp {
    left: 4px;
    width: 248px;
  }
}

.header__catalog-wrp::after {
  content: "";
  top: -7px;
  left: 22px;
  width: 16px;
  height: 16px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1a1919;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -1;
}

.header__catalog-wrp.active {
  display: block;
  z-index: 200;
}

.header__catalog-item-wrp {
  padding-left: 20px;
  padding-right: 20px;
}

.header__catalog-item-wrp:hover .red-diamonds {
  opacity: 1;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header__catalog-item-wrp:hover {
  background-color: #212121;
}

.header__menu-wrp {
  width: 315px;
  height: 0;
  padding-left: 24px;
  padding-top: 34px;
  position: absolute;
  right: -48px;
  background-color: #1a1919;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #e6e5e5;
  z-index: 100;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  overflow: auto;
  visibility: hidden;
}

@media (max-width: 860px) {
  .header__menu-wrp {
    top: 58px;
    right: -16px;
  }
}

.header__menu-wrp.active {
  visibility: inherit;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header__menu-wrp::-webkit-scrollbar {
  width: 4px;
}

.header__menu-wrp::-webkit-scrollbar-thumb {
  background: #4e4b4b;
  border-radius: 4px;
}

.header__menu-item-text {
  font-size: 14px;
}

.header__menu-item-link {
  min-height: 40px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item-link:hover .red-diamonds {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.header__menu-item-link:hover {
  background-color: #212121;
}

.header__menu-item-text-diamond {
  margin-right: 20px;
}

.header__menu-item-link-wrp {
  max-width: 268px;
  width: 100%;
  color: #b5b0b0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header__menu-item-link-wrp.active {
  max-height: 700px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  opacity: 1;
  visibility: inherit;
}

.header__menu-name-categoty {
  font-size: 16px;
}

.header__menu-name-categoty-wrp {
  max-width: 268px;
  width: 100%;
  min-height: 40px;
  color: #ffffff;
  cursor: pointer;
}

.header__menu-name-categoty-icon {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header__menu-name-categoty-icon.active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header__menu-section {
  margin-bottom: 34px;
}

.header__menu-section-item {
  margin-right: 20px;
  overflow: auto;
}

.header__menu-section-item::-webkit-scrollbar {
  width: 4px;
  margin-left: 20px;
  padding-left: 20px;
}

.header__menu-section-item::-webkit-scrollbar-thumb {
  background: #4e4b4b;
  border-radius: 4px;
}

.header__menu-section-wrp {
  margin-bottom: 62px;
  margin-right: 16px;
}

.header__menu-section-wrp::-webkit-scrollbar {
  width: 4px;
  margin-left: 20px;
  padding-left: 20px;
}

.header__menu-section-wrp::-webkit-scrollbar-thumb {
  background: #4e4b4b;
  border-radius: 4px;
}

.header__menu-work-time {
  margin-right: 20px;
  margin-bottom: 80px;
}

.header__menu-work-time-timeline {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 4px;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #b5b0b0;
}

.header__menu-work-time-title-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.header__menu-social {
  padding-top: 36px;
}

.header__right-wrp-menu {
  position: relative;
}

.header__phone-menu {
  width: 280px;
  padding: 12px 20px 20px 20px;
  background-color: #1a1919;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #e6e5e5;
  row-gap: 4px;
  position: absolute;
  top: 70px;
  right: 62px;
  display: none;
}

@media (max-width: 860px) {
  .header__phone-menu {
    left: 4px;
    width: 248px;
  }
}

.header__phone-menu::after {
  content: "";
  top: -7px;
  right: 128px;
  width: 16px;
  height: 16px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1a1919;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -1;
}

.header__phone-menu.active {
  display: block;
  z-index: 200;
}

.header__phone-menu-schedule {
  padding-top: 12px;
  margin-bottom: 16px;
  font-size: 16px;
}

.header__phone-menu-schedule-time {
  font-size: 10px;
  line-height: 12px;
}

.header__phone-menu-schedule-link-wrp {
  padding-left: 33px;
  padding-right: 29px;
  margin-bottom: 20px;
  background-color: #212121;
}

.header__phone-menu-schedule-or {
  margin-bottom: 20px;
  color: #b5b0b0;
  text-align: center;
}

.header__phone-menu-schedule-text {
  margin-bottom: 24px;
  text-align: left;
}

.header__phone-menu-schedule-input {
  margin-bottom: 24px;
}

.header__phone-menu-schedule-btn {
  max-width: 100%;
}

.header__menu-personal-wrp {
  display: none;
  max-width: 220px;
  width: 100%;
  margin-bottom: 18px;
  color: #ffffff;
  font-size: 13px;
}

@media (max-width: 860px) {
  .header__menu-personal-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__menu-personal-line-vertical {
  width: 1px;
  height: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #b5b0b0;
}

.header__menu-personal-login {
  max-width: 158px;
  width: 100%;
}

.header__menu-personal-line {
  width: 100%;
  height: 1px;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  background-color: #343232;
}

.header__menu-personal-basket, .header__menu-personal-comparison {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  font-size: 13px;
}

.header__menu-personal-basket-comparison {
  margin-bottom: 18px;
}

.js-main.active {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #03020e3d;
  z-index: 20;
}

.js-mob-item.active {
  display: none;
}

.js-mob-item-active.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  position: relative;
}

.js-mob-item-active-left.active {
  max-width: 300px;
}

.js-mob-item-active-right.active {
  max-width: 74px;
}
/*# sourceMappingURL=main.css.map */