.card-product__wrapper {
  background-color: #ffffff;
 }
 body.lock {
  overflow: hidden;
 }
 //-----------------catalog header-----------------------------
.card-product-header-info {
    padding-top: 76px;
    background: $color-gray-95;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    //-------scroll-----
    &.active {
      display: flex;
      background: #1a1919;
      justify-content: space-between;
      padding: 76px 48px 0 48px;
      align-items: center;
    }
    &.active &__wrapper-section {
      display: flex;
      column-gap: 32px;
    }
    &.active &__pages{
      height: 0;
      width: 0;
      opacity: 0;
      margin: 0;
    }
    &.active &__main-item-title {
      font-size: 32px;
    }
    &.active .novelty {
      right: -96px;
      top: 20px;
    }
    &.active &__name-pages-wrapper {
      padding: 0;
    }
    &.active &__hidden-image {
      width: 80px;
      height: 80px;
    }
    &.active .card-product-navigation {
      padding-left: 0;
    }
    &.active .card-product-navigation__item {
      padding-top: 4px;
    }
    &.active &__hidden-buttons {
      display: flex;
    }
    //------------------
    &__hidden-buttons {
      padding-top: 20px;
      display: none;
      column-gap: 20px;
      max-width: 237px;
      width: 100%;
    }

    &__hidden-price {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }

    &__hidden-old-price {
      text-decoration-line: line-through;
      font-family: $font-main;
      font-size: 0.75rem;
      line-height: 20px;
      color: #686464;
      white-space: nowrap;
    }

    &__hidden-new-price {
      font-family: $font-main;
      font-weight: 700;
      font-size: 1rem;
      line-height: 20px;
      color: $color-white;
      white-space: nowrap;
    }
  .card-product-all-info {
      &__hidden-button {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 16px;
        white-space: nowrap;
        max-width: 109px;
        width: 100%;
        flex: 1 0 auto;
      }
  }
 
 
    &__hidden-image{
      padding-top: 3px;
      align-self: center;
      width: 0;
      height: 0;

    }
    &__pages {
        margin-bottom: 16px;
        height: 20px;
        width: 210px;
        transition: height .3s;
      @media (max-width: 960px) {
        display: none;
      }
    }


    &__name-pages-wrapper {
        padding: 24px 0 16px 48px;
    }
  
    &__page-title {
      font-family: $font-main;
      color: $color-gray-20;
      font-size: 0.75rem;
      line-height: 20px;
    }
    &__main-title-wrapper {
        display: inline-block;
        position: relative;
    }
    &__main-item-title {
        display: inline-block;
        font-family: $font-main;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 60px;
        text-transform: uppercase;
        color: $color-white;
        transition: all .3s;
    }
  }
//-----------------modal zoom----------------------------------
.modal-zoom {
  position: relative;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  &__mask {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: table;
    transition: all 0.3s ease;
  }

  &__wrapper {
    display: table-cell;
    vertical-align: middle;
    transition: all 0.3s ease;
  }

  &__container {
    overflow: hidden;
    box-shadow: 0px 4px 22px rgb(0 0 0 / 10%);
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    background-color: #FFFFFF;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    padding: 26px 26px 44px 24px;
  }

  &__slider {
    max-width: 660px;
    width: 100%;
    height: 660px;
    background-color: #4E4B4B;
  }

  &__navigation {
    max-width: 336px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__navigation-close {
    align-self: flex-end;
    margin-bottom: 22px;
  }

  &__navigation-body {
    align-self: flex-start;
  }

  &__title {
    font-family: $font-main;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 32px;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 33px;
  }

  &__discont {
    padding-left: 30px;
    display: flex;
    column-gap: 4px;
    .modal-zoom__full-price {
      font-size: 12px;
    }
  }
  
  &__full-prises {
    padding-left: 10px;
    margin-bottom: 32px;
  }

  &__button-buy {
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
  }

}
//-----------------modal on click------------------------------
.modal-on-click {
  z-index: 99999999;
  opacity: 0;
  visibility: hidden;
  display: block;
  transition: all .3s ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__mask {
  }

  &__wrapper {
  }

  &__container {
    max-width: 460px;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F3F2F2;
    padding: 20px 26px 20px 80px;
  }

  &__title {
    font-family: $font-main;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 28px;
    color: #090102;
  }

  &__button-close {
  }

  &__main {
  }

  &__main-wrapper {
    display: flex;
    flex-direction: column;
    padding: 56px 80px 80px 80px;
    min-height: 404px;
  }

  &__container.done &__main-wrapper {
    padding: 60px 80px 0 80px;
  }
  &__container.done  .title-done{
    display: none;
  }
  &__container.done  &__header{
    justify-content: flex-end;
  }
  &__container.done  &__form{
    display: none;
  }
  &__container.done  &__done{
    display: block;
  }
  &__done {
    display: none;
    text-align: center;
  }

  &__title.order {
    cursor: auto;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }


  &__form {
  }

  &__inputs {

  }

  &__input-wrapper {
    position: relative;
    margin-bottom: 28px;
    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__input {
    display: block;
    border: 1px solid $color-gray-60;
    border-radius: 1px;
    font-family: $font-main;
    font-size: 0.875rem;
    padding: 12.2px 20px;
    max-width: 300px;
    width: 100%;
    @media (max-width: 960px) {
      max-width: 327px;
    }
    &::placeholder {
      color: $color-gray-60;
    }
    &:focus,
    &:active,
    &:read-only,
    &:read-write {
      color: $color-gray-60;
      outline: 0;
      outline-offset: 0;
      cursor: auto;
    }
  }
  &__input.is-invalid {
    border-color: $color-red-60;
  }

  &__label {
    background: #ffffff;
    padding: 0 4px;
    font-family: $font-main;
    font-size: 0.875rem;
    color: $color-gray-60;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 13px;
    transition: 0.2s ease all;
  }
  
  &__input:focus ~ &__label,
  &__input:valid ~ &__label {
    left: 16px;
    top: -10px;
    font-size: 12px;
    color: #827d7d;
  }
  .modal-on-click__label.is-invalid {
    color: $color-red-60;
  }

  @keyframes inputHighlighter {
    from {
      background: #827d7d;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  &__button {
    cursor: auto;
    background: #9c9696;
    max-width: 100%;
  }
  &__button:hover {
    background: #9c9696;
  }

  &__button.active {
    cursor: pointer;
    background-color: #c12125;
  }
  &__button.active:hover {
    cursor: pointer;
    background-color: #991A1D;
  }
  &__button.active:active {
    cursor: pointer;
    background-color: #890019;
  }
}
//-----------------modal basket------------------------------
.modal-basket {

  &__mask {
  }

  &__wrapper {
  }

  &__container {
  }

  &__header {
  }

  &__header-wrapper {
    padding: 18px 40px;
  }

  &__title {
    font-family: $font-main;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 32px;
    text-transform: uppercase;
    color: $color-black;
  }

  &__buttons-header {
  }

  &__button-clean {
  }

  &__button-close {
  }

  &__main {
  }

  &__main-wrapper {
  }

  &__order {
  }

  &__order-wrapper {
  }

  &__order-img-wrapper {
  }

  &__order-img {
  }

  &__order-name-item {
  }

  &__amount-item {
  }

  &__button-minus {
  }

  &__amount {
  }

  &__button-plus {
  }

  &__price {
  }

  &__old-price {
  }

  &__new-price {
  }

  &__button-delete {
  }

  &__footer {
  }

  &__footer-wrapper {
  }

  &__button-continue {
  }

  &__checkout {
  }

  &__totla-price {
  }

  &__button-checkout {
  }
}
.modal-zoom {

  &__mask {
  }

  &__wrapper {
  }
}
.btn-white {
}
.btn-red {
}

//-----------------icon item name header-----------------------
  .novelty {
    position: absolute;
    right: -58px;
    top: -12px;
    transition: all .3s;
    &__wrapper {
        padding: 2px 10px;
        border-radius: 1px;
        background-color: #51b900;
        font-family: $font-main;
        font-size: 0.625rem;
        font-weight: 700;
        line-height: 20px;
        color: $color-white;
        text-transform: uppercase;
        transform: rotate(10deg);
    }
    &__name {

    }
}
//-----------------navigation header---------------------------
  .card-product-navigation {
    background-color: $color-gray-100;
    padding: 0 60px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    @media (max-width: 960px) {
      padding: 0;
    }
    &__menu {
      display: flex;
      column-gap: 20px;
      @media (max-width: 960px) {
        column-gap: 8px;
        padding: 0;
      }
    }
    &__item.active {
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      a {
        color: $color-white;
        font-size: 0.875rem;
        font-weight: 700;
      }
    }
    &__item {
      display: inline-block;
      font-size: 0;
      padding: 12px;
      &:hover a {
        color: $color-white;
      }
    }
    &__link{
      @media (max-width: 960px) {
        font-size: 0.8125rem;
      }
      font-family: $font-main;
      color: $color-gray-30;
      font-size: 0.8125rem;
      line-height: 20px;
    }
  }
//-----------------all information-----------------------------
  .card-product-all-info {
    margin-bottom: 100px;
    padding-top: 256px;
    background: $color-white;
		&__wrapper {
      padding: 44px 48px 0 48px;
      display: flex;
      column-gap: 50px;
		}

		&__slider {
      max-width: 576px;
      width: 100%;
      height: 500px;
      background-color: azure;
      position: relative;
		}

    &__slider-buttons-navigation {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 7px;
      top: 23px;
      row-gap: 28px;
      align-items: center;
    }

    &__slider-button-turn-around {
      font-size: 0;
      display: inline-block;
    }
    &__slider-button-turn-around:hover &__slider-svg{
      fill: #C12125;
    }

    &__slider-link-youtube {
      font-size: 0;
      display: inline-block;
    }
    &__slider-link-youtube:hover .card-product-all-info__slider-svg {
      fill: #C12125;
    }

    &__slider-button-zoom {
      position: absolute;
      bottom: 14px;
      right: 18px;
    }

    &__slider-button-zoom:hover .card-product-all-info__slider-svg {
      stroke: #C12125;
    }
  

		&__product-description {
		}

		&__product-description-wrapper {

		}
    

		&__vendor-code-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
		}

		&__product-code {
      display: flex;
      column-gap: 8px;
		}

		&__subtitle {
      font-family: $font-main;
      font-size: 0.875rem;
      line-height: 24px;
      color: $color-gray-70;
		}

		&__subtitle {
      color: $color-black;
		}

		&__reviews-and-ratings {
      display: flex;
      align-items: center;
      column-gap: 7.75px;
		}

		&__ratings {
		}

		&__reviews {
      
		}

		&__reviews-link {
      display: flex;
      column-gap: 4.75px;
      align-items: center;
		}

		&__navigation-button {
      display: flex;
      justify-content: flex-end;
      column-gap: 28px;
      align-items: center;
      padding-right: 12px;
      position: relative;
		}
    &__active-link.share.active .card-product-all-info__share-svg{
      fill: #C12125;
    }
    .like.active .like-active{
      fill: #C12125;
    }
    
    &__hidden-navigation {
      opacity: 0;
      z-index: -1;
      position: absolute;
      top: 39px;
      right: 5px;
      transition: all .2s;
    }
    &__hidden-navigation.active {
      opacity: 1;
      z-index: 1;
    }

    &__hidden-navigation-wrapper {
      display: flex;
      column-gap: 8px;
    }
    &__hidden-link {
      position: relative;
    
    }
    &__coppy-link {
      opacity: 0;
      font-family: $font-main;
      font-size: 0.625rem;
      line-height: 12px;
      color: $color-gray-40;
      position: absolute;
      bottom: -12px;
      left: -4px;
      white-space: nowrap;
      transition: opacity .2s;
    }

    &__hidden-link:hover {
      box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
    }
    &__hidden-link:hover &__coppy-link{
      opacity: 1;
    }
  

		&__active-link {
      display: inline-block;
      font-size: 0;
		}
//-------------svg effect comparison
    &__active-link.comparison:hover &__comparison-hover{
     stroke: $color-red-40;
     fill: $color-red-40;
    }
    &__active-link.comparison:active &__comparison-hover{
      stroke: $color-red;
      fill: $color-red;
     }
     &__active-link.comparison:active &__comparison-svg{
      stroke: $color-red;
      fill: $color-red;
     }
//-------------svg effect like
    &__active-link.like:hover &__like-svg{
      fill: $color-red-40;
    }
    .like.active:hover &__like-svg{
      fill: $color-red;
    }
    &__active-link.like:active &__like-svg{
      fill: $color-red;
    }
//-------------svg effect share
    &__active-link.share:hover &__share-svg{
      fill: $color-red-40;
    }
    .share.active:hover &__share-svg{
      fill: $color-red;
    }
    &__active-link.share:active &__share-svg{
      stroke: $color-red;
      fill: $color-red;
    }

		&__colors {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      margin-bottom: 44px;
		}

		&__change-color {
      display: flex;
      align-items: flex-end;
      column-gap: 8px;
		}

		&__color-selection {
      display: flex;
      column-gap: 8px;
		}

		&__color {
      display: inline-block;
      font-size: 0;
      padding: 4px;
      border-radius: 50%;
      
		}
    &__color.active {
      outline: 1px solid $color-black;
    }

		&__buy {
      display: flex;
      column-gap: 45px;
      align-items: center;
      margin-bottom: 36px;
		}

    .card-product-description.full-price {
      text-decoration-line: line-through;
      font-weight: 700;
    }

    .card-product-description.description-persent {
      font-weight: 700;
      color: $color-red;
    }

		&__price {
      .card-product-all-info__out-of-stock {
        display: none;
      }
		}

		&__price-discount {
      display: flex;
      column-gap: 4px;
		}
    

    &__real-price {
      display: flex;
      align-items: baseline;
      column-gap: 8px;
    }

    .card-product-description.currency {
      font-weight: 800;
      color: $color-black;
    }

		&__buttons-buy {
      display: flex;
      align-items: center;
      column-gap: 24px;
		}

		&__button-buy {
      padding: 0 39px 0 36px;
      max-width: 160px;
      width: 100%;
      column-gap: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
		}
    //---------if out of stock-----------------
    &__button-buy.inactive {
      background-color: #9C9696;
      cursor: default;
    }
    &__button-buy-on-click.inactive {
      cursor: default;
      color: #827D7D;
      border-color: #9C9696;
    }
    &__button-buy-on-click.inactive:hover {
      background-color: white;
    }
    //---------if out of stock-----------------
    &__scroll-description {
      overflow-y: scroll;
      height: 140px;
    }
    &__scroll-description::-webkit-scrollbar { width: 0; }

		&__brief-description {
      
		}
    

		&__instruction {
      display: flex;
      max-width: 172px;
      width: 100%;
      align-items: center;
      font-size: 0;
      column-gap: 6px;
      margin-bottom: 22px;
		}

    &__instruction.active .download-instruction{
      color:$color-green;
    }
    
    &__instruction.active .card-product-all-info__instruction-svg{
      fill:$color-green;
    }
    &__instruction.active &__instruction-loader::after{
      border-top: 1px solid $color-green;
      animation: spin 2s linear infinite;
    }

    &__instruction-loader {
      position: relative;
    }
    &__instruction-loader::after {
      content: '';
      position: absolute;
      top: -5px;
      left: -6px;
      width: 35px;
      height: 35px;
      
      border-radius: 50%;
      
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
    
    &__instruction:hover &__instruction-svg {
      fill: $color-red;
    }
    &__instruction.active:hover &__instruction-svg {
      fill: $color-green;
    }
    &__instruction:hover .card-product-description.download-instruction {
      color: $color-red;
    }
    &__instruction.active:hover .card-product-description.download-instruction {
      color:$color-green;
    }
    .card-product-description.characteristic-paragraph {
      max-width: 688px;
      width: 100%;
    }
}
.card-product-title{
  font-family: $font-main;
  font-weight: 800;
  font-size: 2rem;
  line-height: 44px;
  text-transform: uppercase;
  color: $color-black;
}
.card-product-title.out-of-stock{
  font-family: $font-main;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 28px;
  text-transform: none;
  color: #827D7D;
}
.card-product-title.paragraph {
  font-size: 1rem;
  color: $color-gray-90;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 22px;
}
.btn-white {
  border: 1px solid #C12125;
  border-radius: 1px;
  color: #C12125;
  font-family: $font-main;
  font-weight: 700;
  font-size: 0.875rem;
  max-width: 160px;
  width: 100%;
  padding: 12px 11.5px 12px 11.5px;
  &:hover {
    background: $color-red-20;
  }
  &:active {
    background: $color-red-30;
  }
}
.card-product-description{
  font-family: $font-main;
  font-size: 0.875rem;
  line-height: 24px;
  color: $color-gray-70;
}

//-----------main-slider----------------


//-----------------characteristics------------------------------
.card-product-characteristics {
  margin-bottom: 200px;

  &__wrapper {
    padding: 0 48px;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__detailed-information {
    display: flex;
    column-gap: 24px;
    justify-content: center;
  }

  &__detailed-left-part {
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .card-product-description__wrapper {
    display: flex;
    align-items: baseline;
    .card-product-description__line {
      width: 100%;
      height: 1px;
      background-color: #E6E5E5;
    }
  }

  &__section-characteristics {
    border-radius: 8px;
    background-color: #FAFAFA;
    max-width: 660px;
    width: 100%;
    padding: 12px;
  }
  .card-product-title.characteristics {
    color: $color-black;
  }
  .card-product-description.name {
    color: $color-gray-80;
    white-space: nowrap;
    display: block;
    margin-right: 8px;
  }
  .card-product-description.characteristics-items {
    color: #4E4B4B;
    font-weight: 700;
  }

  &__characteristics-description {
    display: flex;
    padding-left: 12px;
  }

  &__characteristics-title-names {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    max-width: 332px;
    width: 100%;
  }

  &__characteristics-items {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__detailed-right-part {
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
//-----------------multimedia-----------------------------------
.card-product-multimedia {
  margin-bottom: 100px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__videos {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 1040px;
    width: 100%;
  }

  &__videos-wrapper {
    position: relative;
    aspect-ratio: 16 / 9;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
//-----------------reviews--------------------------------------
.card-product-reviews {

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 48px 100px 48px;
    justify-content: center;
    align-items: center;
  }

  &__main-wrapper {
    max-width: 1040px;
    width: 100%;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__grade {
    align-self: flex-start;
    margin-bottom: 8px;
    display: flex;
    column-gap: 19px;
    align-items: center;
  }

  &__balls {
    font-weight: 900;
    font-size: 3.75rem;
    line-height: 80px;
  }

  &__reviews-balls {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }

  &__stars {
    display: flex;
    column-gap: 12px;
  }

  &__title.register {
    font-size: 1rem;
    margin-bottom: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }

  &__description {
  }

	&__reviews {
    margin-bottom: 60px;
	}

	&__reviews-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
	}

	&__section-reviews {
    display: flex;
    flex-direction: column;
    row-gap: 24px;  
	}

	&__section-reviews-wrapper.admin, &__section-reviews-wrapper.user {
    padding: 12px;
    border: 1px solid #DF9793;
    border-radius: 8px;
    display: flex;
	}

  &__section-reviews-answer-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__section-reviews-wrapper.user {
    column-gap: 92px;
  }
  &__section-reviews-wrapper.admin {
    max-width: 824px;
    width: 100%;
    background-color: #F3F2F2;
  }
  &__review-grade {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__review-title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    text-transform: none;
  }

  &__review-stars {
    padding-left: 3px;
    display: flex;
    column-gap: 6px;
  }

  &__review-comments {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__review-data, &__review-comment {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    text-transform: none;
  }

  &__button {
    max-width: 183px;
    width: 100%;
  }
}
//-----------------gallery--------------------------------------
.card-product-gallery {
  background-color: #F8F7F7;

  &__wrapper {
    padding: 100px 48px 100px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__pictures {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__big-pictures {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__big-picture-item-wrapper {
    max-width: 780px;
    width: 100%;
    background-color: #9ea0a2;
  }

  &__big-picture-item, &__small-picture-item {
    width: 100%;
    height: auto;
  }

  &__small-pictures {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__small-picture-item-wrapper {
    max-width: 544px;
    width: 100%;
  }

}
//-----------------spare part--------------------------------------
.card-product-spare-parts {
  background-color: #F8F7F7;

  &__wrapper {
    padding: 100px 48px 100px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 56px;
  }

  &__carousel {
    max-width: 1344px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
  }

    &__navigation-buttons {
      position: relative;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 44px;
    }
    &__button-next.swiper-button-next{
      position: static;
      display: block;
      margin-top: 0;
      height: 24px;
      width: 13px;
    }
    &__button-prev.swiper-button-prev{
      position: static;
      display: block;
      margin-top: 0;
      height: 24px;
      width: 13px;
    }
    &__pagination.swiper-pagination {
      position: static;
      max-width: 200px;
      width: 100%;
      display: flex;
      align-items: baseline;
      justify-content: center;
      column-gap: 16px;
    }

    &__pagination .swiper-pagination-bullet {
      background: none;
      color: #090102;
      font-family: $font-main;
      font-weight: 700;
      font-size: 1rem;
      line-height: 20px;
      opacity: 1;
      height: 24px;
      max-width: 24px;
      width: 100%;
    }
    &__pagination .swiper-pagination-bullet-active {
      color: #C12125;
      border-radius: 0%;
      border-bottom: 1px solid #C12125;
    }

    &__button-prev,  &__button-next{
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
    &__button-prev:active &__swipper-button{
      fill: #C12125;
    }
    &__button-next:active &__swipper-button{
      fill: #C12125;
    }

    &__button-prev {
   
    }
    &__button-next {

    }

    &__pagination {
    }

}
//-----------------button up to top--------------------------------------
.card-product-button {
  opacity: 0;
  width: 0;
  position: fixed;
  bottom: 160px;
  right: 4px;
  transition: all .3s ease-in-out;
  &.active {
    opacity: 1;
    width: 40px;
    transition: all .3s ease-in-out;
  }
  &__button-up {
    padding: 9.5px 14px;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  &__button-up:active{
    background: #C12125;
  }
  &__button-up:active &__button-up-svg {
    fill:white;
  }
}
