.card-product__wrapper {
  background-color: #ffffff;
 }
 //-----------------catalog header-----------------------------
.card-product-header-info {
    padding-top: 76px;
    background: $color-gray-95;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    &__pages {
        margin-bottom: 16px;
      @media (max-width: 960px) {
        display: none;
      }
    }
    &__name-pages-wrapper {
        padding: 24px 0 16px 48px;
    }
  
    &__page-title {
      font-family: $font-main;
      color: $color-gray-20;
      font-size: 0.75rem;
      line-height: 20px;
    }
    &__main-title-wrapper {
        display: inline-block;
        position: relative;
    }
    &__main-item-title {
        display: inline-block;
        font-family: $font-main;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 60px;
        text-transform: uppercase;
        color: $color-white;
    }
  }
//-----------------icon item name header-----------------------
  .novelty {
    position: absolute;
    right: -58px;
    top: -12px;
    &__wrapper {
        padding: 2px 10px;
        border-radius: 1px;
        background-color: #51b900;
        font-family: $font-main;
        font-size: 0.625rem;
        font-weight: 700;
        line-height: 20px;
        color: $color-white;
        text-transform: uppercase;
        transform: rotate(10deg);
    }
    &__name {

    }
}
//-----------------navigation header---------------------------
  .card-product-navigation {
    background-color: $color-gray-100;
    padding: 0 60px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    @media (max-width: 960px) {
      padding: 0;
    }
    &__menu {
      display: flex;
      column-gap: 20px;
      @media (max-width: 960px) {
        column-gap: 8px;
        padding: 0;
      }
    }
    &__item.active {
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      a {
        color: $color-white;
        font-size: 0.875rem;
        font-weight: 700;
      }
    }
    &__item {
      display: inline-block;
      font-size: 0;
      padding: 12px;
      &:hover a {
        color: $color-white;
      }
    }
    &__link{
      @media (max-width: 960px) {
        font-size: 0.8125rem;
      }
      font-family: $font-main;
      color: $color-gray-30;
      font-size: 0.8125rem;
      line-height: 20px;
    }
  }

//-----------------all information-----------------------------
  .card-product-all-info {
    margin-bottom: 100px;
    padding-top: 256px;
    background: $color-white;
		&__wrapper {
      padding: 44px 48px 0 48px;
      display: flex;
      column-gap: 50px;
		}

		&__slider {
      max-width: 576px;
      width: 100%;
      height: 500px;
      background-color: azure;
		}

		&__product-description {
		}

		&__product-description-wrapper {
      height: 500px;
      overflow: hidden;
      overflow-y: scroll;
		}
    &__product-description-wrapper::-webkit-scrollbar { width: 0; }

		&__vendor-code-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
		}

		&__product-code {
      display: flex;
      column-gap: 8px;
		}

		&__subtitle {
      font-family: $font-main;
      font-size: 0.875rem;
      line-height: 24px;
      color: $color-gray-70;
		}

		&__subtitle {
      color: $color-black;
		}

		&__reviews-and-ratings {
      display: flex;
      align-items: center;
      column-gap: 7.75px;
		}

		&__ratings {
		}

		&__reviews {
      
		}

		&__reviews-link {
      display: flex;
      column-gap: 4.75px;
      align-items: center;
		}

		&__navigation-button {
      display: flex;
      justify-content: flex-end;
      column-gap: 28px;
      align-items: center;
      padding-right: 12px;
		}

		&__active-link {
      display: inline-block;
      font-size: 0;
		}
//-------------svg effect comparison
    &__active-link.comparison:hover &__comparison-hover{
     stroke: $color-red-40;
     fill: $color-red-40;
    }
    &__active-link.comparison:active &__comparison-hover{
      stroke: $color-red;
      fill: $color-red;
     }
     &__active-link.comparison:active &__comparison-svg{
      stroke: $color-red;
      fill: $color-red;
     }
//-------------svg effect like
    &__active-link.like:hover &__like-svg{
      fill: $color-red-40;
    }
    &__active-link.like:active &__like-svg{
      fill: $color-red;
    }
//-------------svg effect share
    &__active-link.share:hover &__share-svg{
      fill: $color-red-40;
    }
    &__active-link.share:active &__share-svg{
      stroke: $color-red;
      fill: $color-red;
    }

		&__colors {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      margin-bottom: 44px;
		}

		&__change-color {
      display: flex;
      align-items: flex-end;
      column-gap: 8px;
		}

		&__color-selection {
      display: flex;
      column-gap: 8px;
		}

		&__color {
      display: inline-block;
      font-size: 0;
      padding: 4px;
      border-radius: 50%;
      
		}
    &__color.active {
      outline: 1px solid $color-black;
    }

		&__buy {
      display: flex;
      column-gap: 45px;
      align-items: center;
      margin-bottom: 36px;
		}

    .card-product-description.full-price {
      text-decoration-line: line-through;
      font-weight: 700;
    }

    .card-product-description.description-persent {
      font-weight: 700;
      color: $color-red;
    }

		&__price {
		}

		&__price-discount {
      display: flex;
      column-gap: 4px;
		}
    

    &__real-price {
      display: flex;
      align-items: baseline;
      column-gap: 8px;
    }

    .card-product-description.currency {
      font-weight: 800;
      color: $color-black;
    }

		&__buttons-buy {
      display: flex;
      align-items: center;
      column-gap: 24px;
		}

		&__button-buy {
      padding: 0 39px 0 36px;
      max-width: 160px;
      width: 100%;
      column-gap: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
		}

		&__brief-description {
		}

		&__instruction {
      display: flex;
      align-items: center;
      font-size: 0;
      column-gap: 6px;
      margin-bottom: 22px;
		}
    &__instruction-loader {
      position: relative;
    }
    &__instruction-loader::after {
      content: '';
      position: absolute;
      top: -7px;
      left: -9px;
      width: 40px;
      height: 40px;
      border-top: 1px solid $color-green;
      border-radius: 50%;
      animation: spin 2s linear infinite;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
    
    &__instruction:hover &__instruction-svg {
      fill: $color-red;
    }
    &__instruction:hover .card-product-description.download-instruction {
      color: $color-red;
    }
    .card-product-description.characteristic-paragraph {
      max-width: 688px;
      width: 100%;
    }
}
.card-product-title{
  font-family: $font-main;
  font-weight: 800;
  font-size: 2rem;
  line-height: 44px;
  text-transform: uppercase;
  color: $color-black;
}
.card-product-title.paragraph {
  font-size: 1rem;
  color: $color-gray-90;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 22px;
}
.btn-white {
  border: 1px solid #C12125;
  border-radius: 1px;
  color: #C12125;
  font-family: $font-main;
  font-weight: 700;
  font-size: 0.875rem;
  max-width: 160px;
  width: 100%;
  padding: 12px 11.5px 12px 11.5px;
  &:hover {
    background: $color-red-20;
  }
  &:active {
    background: $color-red-30;
  }
}
.card-product-description{
  font-family: $font-main;
  font-size: 0.875rem;
  line-height: 24px;
  color: $color-gray-70;
}
//-----------------characteristics------------------------------
.card-product-characteristics {
  margin-bottom: 200px;

  &__wrapper {
    padding: 0 48px;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__detailed-information {
    display: flex;
    column-gap: 24px;
    justify-content: center;
  }

  &__detailed-left-part {
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .card-product-description__wrapper {
    display: flex;
    align-items: baseline;
    .card-product-description__line {
      width: 100%;
      height: 1px;
      background-color: #E6E5E5;
    }
  }

  &__section-characteristics {
    border-radius: 8px;
    background-color: #FAFAFA;
    max-width: 660px;
    width: 100%;
    padding: 12px;
  }
  .card-product-title.characteristics {
    color: $color-black;
  }
  .card-product-description.name {
    color: $color-gray-80;
    white-space: nowrap;
    display: block;
    margin-right: 8px;
  }
  .card-product-description.characteristics-items {
    color: #4E4B4B;
    font-weight: 700;
  }

  &__characteristics-description {
    display: flex;
    padding-left: 12px;
  }

  &__characteristics-title-names {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    max-width: 332px;
    width: 100%;
  }

  &__characteristics-items {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__detailed-right-part {
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
//-----------------multimedia-----------------------------------
.card-product-multimedia {
  margin-bottom: 100px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__videos {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 1040px;
    width: 100%;
  }

  &__videos-wrapper {
    position: relative;
    aspect-ratio: 16 / 9;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
//-----------------reviews--------------------------------------
.card-product-reviews {

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 48px 100px 48px;
    justify-content: center;
    align-items: center;
  }

  &__main-wrapper {
    max-width: 1040px;
    width: 100%;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__grade {
    align-self: flex-start;
    margin-bottom: 8px;
    display: flex;
    column-gap: 19px;
    align-items: center;
  }

  &__balls {
    font-weight: 900;
    font-size: 3.75rem;
    line-height: 80px;
  }

  &__reviews-balls {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }

  &__stars {
    display: flex;
    column-gap: 12px;
  }

  &__title.register {
    font-size: 1rem;
    margin-bottom: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }

  &__description {
  }

	&__reviews {
    margin-bottom: 60px;
	}

	&__reviews-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
	}

	&__section-reviews {
    display: flex;
    flex-direction: column;
    row-gap: 24px;  
	}

	&__section-reviews-wrapper.admin, &__section-reviews-wrapper.user {
    padding: 12px;
    border: 1px solid #DF9793;
    border-radius: 8px;
    display: flex;
	}

  &__section-reviews-answer-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__section-reviews-wrapper.user {
    column-gap: 92px;
  }
  &__section-reviews-wrapper.admin {
    max-width: 824px;
    width: 100%;
    background-color: #F3F2F2;
  }
  &__review-grade {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__review-title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    text-transform: none;
  }

  &__review-stars {
    padding-left: 3px;
    display: flex;
    column-gap: 6px;
  }

  &__review-comments {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__review-data, &__review-comment {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    text-transform: none;
  }

  &__button {
    max-width: 183px;
    width: 100%;
  }
}
//-----------------gallery--------------------------------------
.card-product-gallery {
  background-color: #F8F7F7;

  &__wrapper {
    padding: 100px 48px 100px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__pictures {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__big-pictures {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__big-picture-item-wrapper {
    max-width: 780px;
    width: 100%;
    background-color: #9ea0a2;
  }

  &__big-picture-item, &__small-picture-item {
    width: 100%;
    height: auto;
  }

  &__small-pictures {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__small-picture-item-wrapper {
    max-width: 544px;
    width: 100%;
  }

}
//-----------------spare part--------------------------------------
.card-product-spare-parts {

  &__wrapper {
    padding: 100px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 56px;
  }

  &__carousel {
    max-width: 1344px;
    width: 100%;
    position: relative;
  }

    &__navigation-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -70px;
      width: 100%;
    }
    .swiper-button-next, .swiper-button-prev, .swiper-pagination{
      position: static;
    }
    &__pagination .swiper-pagination-bullet {
      background: none;
      color: #090102;
      font-family: $font-main;
      font-weight: 700;
      font-size: 1rem;
      line-height: 20px;
      opacity: 1;
    }
    &__pagination .swiper-pagination-bullet-active {
      color: #C12125;
    }

    &__button-prev,  &__button-next{
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
    &__button-prev {
   
    }
    &__button-next {

    }

    &__pagination {
    }

}

