.main-page-product {
  @include padding-mob;
  &__title-text-wrp {
    margin-bottom: 60px;
    column-gap: 12px;
    @include text(
      $size: 20px,
      $textAlign: center,
      $fontWeight: 600,
      $lineHeight: 32px
    );
    text-transform: uppercase;
    @extend %centre-flex;
    @include __860 {
      @include text($size: 16px, $lineHeight: 24px);
    }
  }
  &__title-text-item {
    min-width: 204px;
    cursor: pointer;
    @include __860 {
      min-width: auto;
    }
  }
  &__title-text {
    padding: 12px 20px;
    @include __860 {
      padding: 4px;
    }
  }
  &__title-line {
    width: 0;
    height: 2px;
    display: flex;
    background-color: $color-red;
    border-radius: 8px;
    transition: 0.3s ease-out;
    &.active {
      width: 100%;
      transition: 0.3s ease-in;
    }
  }
  &__carousel {
    max-width: 1344px;
    width: 100%;
    @extend %size-page;
    margin-bottom: 80px;
    display: none;
    &.active {
      display: block;
    }
  }
  &__carousel-top-pagination {
    &.swiper-pagination {
      padding-top: 40px;
      position: relative;
      display: contents;
      @include text(
        $size: 16px,
        $textAlign: center,
        $fontWeight: 700,
        $lineHeight: 20px
      );
    }
    & .swiper-pagination-bullet {
      padding-right: 16px;
      background: $color-white;
      color: $color-black;
      opacity: 1;
      &:last-child {
        padding-right: 0;
      }
    }
    & .swiper-pagination-bullet-active {
      background: $color-white;
      color: $color-red;
    }
  }
  &__carousel-top-wrp {
    & .card-prod-catalog__wrp {
      @extend %centre-marg;
    }
  }
  &__carousel-top-nav-wrp {
    height: 40px;
    @extend %centre-flex;
    & > .swiper-button-prev,
    .swiper-button-next {
      position: relative;
    }
    & > .swiper-button-prev {
      left: -25px;
    }
    & > .swiper-button-next {
      right: -16px;
    }
    & > .swiper-button-next::before {
      width: 30px;
      height: 44px;
      background-image: url("../icon/arrow-main-porduct-slider-right.svg");
      background-repeat: no-repeat;
    }
    & > .swiper-button-prev::before {
      width: 30px;
      height: 44px;
      background-image: url("../icon/arrow-main-porduct-slider-left.svg");
      background-repeat: no-repeat;
    }
  }
}

.main-page-about-company {
  height: 800px;
  position: relative;
  background-color: $color-gray-100;
  &__text-wrp {
    height: 100%;
    @extend %size-page;
    @extend %padding-country;
    @extend %centre-flex-columb;
    align-items: flex-start;
    position: absolute;
    @include text(
      $size: 32px,
      $textAlign: left,
      $color: $color-white,
      $fontWeight: 600,
      $lineHeight: 44px
    );
    @include __860 {
      @include padding-mob;
    }
  }
  &__text-title {
    margin-bottom: 56px;
  }
  &__text {
    max-width: 640px;
    margin-bottom: 40px;
    @include text(
      $size: 16px,
      $fontWeight: 500,
      $textAlign: left,
      $color: $color-white,
      $lineHeight: 28px
    );
  }
  &__img-wrp {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  &__img-triangle {
    width: 116%;
    height: 200px;
    position: absolute;
    display: flex;
    bottom: -95px;
    left: 0;
    background-color: $color-black;
    transform: rotate(-7deg);
  }
}
