.main-page-product {
  @include padding-mob;
  &__title-text-wrp {
    margin-bottom: 60px;
    column-gap: 12px;
    @include text(
      $size: 20px,
      $textAlign: center,
      $fontWeight: 600,
      $lineHeight: 32px
    );
    text-transform: uppercase;
    @extend %centre-flex;
    @include __860 {
      @include text($size: 16px, $lineHeight: 24px);
    }
  }
  &__title-text-item {
    min-width: 204px;
    cursor: pointer;
    @include __860 {
      min-width: auto;
    }
  }
  &__title-text {
    padding: 12px 20px;
    @include __860 {
      padding: 4px;
    }
  }
  &__title-line {
    width: 0;
    height: 2px;
    display: flex;
    background-color: $color-red;
    border-radius: 8px;
    transition: 0.3s ease-out;
    &.active {
      width: 100%;
      transition: 0.3s ease-in;
    }
  }
  &__carousel {
    max-width: 1344px;
    width: 100%;
    @extend %size-page;
    margin-bottom: 80px;
    display: none;
    &.active {
      display: block;
    }
  }
  &__carousel-top-pagination {
    &.swiper-pagination {
      padding-top: 40px;
      position: relative;
      display: contents;
      @include text(
        $size: 16px,
        $textAlign: center,
        $fontWeight: 700,
        $lineHeight: 20px
      );
    }
    & .swiper-pagination-bullet {
      padding-right: 16px;
      background: $color-white;
      color: $color-black;
      opacity: 1;
      &:last-child {
        padding-right: 0;
      }
    }
    & .swiper-pagination-bullet-active {
      background: $color-white;
      color: $color-red;
    }
  }
  &__carousel-top-wrp {
    & .card-prod-catalog__wrp {
      @extend %centre-marg;
    }
  }
  &__carousel-top-nav-wrp {
    height: 40px;
    @extend %centre-flex;
    & > .swiper-button-prev,
    .swiper-button-next {
      position: relative;
    }
    & > .swiper-button-prev {
      left: -25px;
    }
    & > .swiper-button-next {
      right: -16px;
    }
    & > .swiper-button-next::before {
      width: 30px;
      height: 44px;
      background-image: url("../icon/arrow-main-porduct-slider-right.svg");
      background-repeat: no-repeat;
    }
    & > .swiper-button-prev::before {
      width: 30px;
      height: 44px;
      background-image: url("../icon/arrow-main-porduct-slider-left.svg");
      background-repeat: no-repeat;
    }
  }
}

.main-page-about-company {
  height: 800px;
  position: relative;
  background-color: $color-gray-100;
  &__text-wrp {
    height: 100%;
    @extend %size-page;
    @extend %padding-country;
    @extend %centre-flex-columb;
    align-items: flex-start;
    position: absolute;
    @include text(
      $size: 32px,
      $textAlign: left,
      $color: $color-white,
      $fontWeight: 600,
      $lineHeight: 44px
    );
    @include __860 {
      @include padding-mob;
    }
  }
  &__text-title {
    margin-bottom: 56px;
  }
  &__text {
    max-width: 640px;
    margin-bottom: 40px;
    @include text(
      $size: 16px,
      $fontWeight: 500,
      $textAlign: left,
      $color: $color-white,
      $lineHeight: 28px
    );
  }
  &__img-wrp {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  &__img-triangle {
    width: 116%;
    height: 200px;
    position: absolute;
    display: flex;
    bottom: -95px;
    left: 0;
    background-color: $color-black;
    transform: rotate(-7deg);
  }
}

.main-page-range {
  height: 800px;
  margin-bottom: 800px;
  @extend %padding-country;
  padding-top: 100px;
  @extend %centre-space-between;
  background-color: $color-white;
  @include __860 {
    @include padding-mob;
    // margin-right: 16px;
    height: auto;
  }
  &__wrp {
    @extend %size-page;
    @extend %centre-space-between;
    column-gap: 16px;
    @include __860 {
      // @include padding-mob;
      flex-direction: column;
      height: auto;
    }
  }
  &__slider-wrp {
    display: flex;
    position: relative;
    @include __640 {
      transform: rotate(-90deg);
    }
  }
  &__age {
    min-width: 68px;
    @include text($textAlign: center, $fontWeight: 700, $lineHeight: 24px);
    @include __640 {
      // position: absolute;
    }
  }
  &__age-text {
    @include __640 {
      display: none;
    }
  }
  &__slider-nav {
    margin-right: 22px;
    &:first-child {
      padding-top: 6px;
    }
    @include __640 {
      margin-right: 14px;
    }
  }
  &__title-text {
    margin-bottom: 56px;
    @include text(
      $size: 32px,
      $textAlign: left,
      $fontWeight: 800,
      $lineHeight: 44px
    );
    @include __860 {
      margin-bottom: 40px;
    }
  }
  &__text {
    margin-bottom: 24px;
    @include text(
      $size: 16px,
      $textAlign: left,
      $fontWeight: 500,
      $lineHeight: 28px
    );
    @include __860 {
      margin-bottom: 16px;
    }
    @include __640 {
      display: none;
      &.activ {
        display: flex;
      }
    }
  }
  &__text-wrp {
    max-width: 476px;
    width: 100%;

    @include __1280 {
      max-width: 340px;
    }
    @include __960 {
      max-width: 310px;
    }
    @include __860 {
      max-width: 100%;
    }
  }
  &__circle-big {
    height: 12px;
    width: 12px;
    // margin-bottom: 14px;
    display: flex;
    position: relative;
    border-radius: 50%;
    background-color: $color-red;
    z-index: 10;
    cursor: pointer;
    transition: 0.3s ease-out;
    &.active {
      height: 16px;
      width: 16px;
      transition: 0.3s ease-in;
    }
  }
  &__circle-smoll-wrp {
    height: 16px;
    width: 16px;
    margin-bottom: 14px;
    @extend %centre-flex;
    @include __640 {
      margin-bottom: 8px;
    }
  }
  &__circle-smoll {
    height: 6px;
    width: 6px;
    display: flex;
    position: relative;
    border-radius: 50%;
    background-color: $color-red;
    z-index: 10;
    cursor: pointer;
    transition: 0.3s ease-out;
    &.active {
      height: 10px;
      width: 10px;
      transition: 0.3s ease-in;
    }
  }
  &__circle-line {
    position: absolute;
    width: 2px;
    height: 36px;
    top: -8px;
    display: flex;
    background-color: $color-red-20;
    z-index: 9;
  }
  &__img-wrp {
    width: 100%;
    column-gap: 16px;
    @extend %centre-space-between;
    justify-content: space-around;
    @include __640 {
      flex-direction: column;
    }
  }
  &__circle-item-list {
    position: relative;
    @extend %centre-flex;
    &:hover > .js-main-page-range-circle-wrp {
      opacity: 0.4;
    }
  }
  &__img {
    max-width: 544px;
    width: 100%;
    position: absolute;
    transition: 0.3s ease-out;
    opacity: 0;
    &.active {
      opacity: 1;
      transition: 0.3s ease-in;
    }
    @include __640 {
      position: relative;
      opacity: 1;
    }
  }
  &__img-wrp-position {
    max-width: 544px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    @include __640 {
      overflow-x: auto;
    }
  }
  &__circle {
    opacity: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    border: 1px solid $color-red;
    border-radius: 50%;
    top: -8px;
    left: -8px;
    z-index: 222;
    cursor: pointer;
    transition: 0.3s ease-in;
    &.active {
      opacity: 1;
      transition: 0.3s ease-out;
    }
  }
  &__slider-circle {
    position: relative;
    @include __640 {
      width: 376px;
      height: 78px;
      // padding-top: 40px;
      padding-left: 6px;
      // padding-bottom: 48px;
      display: flex;
      overflow: auto;
    }
  }
  &__slider-text-wrp {
    // width: 100%;
    display: flex;
    position: absolute;
    bottom: 18px;
  }
  &__slider-text {
    width: 94px;
    @include text($textAlign: left, $fontWeight: 700, $lineHeight: 24px);
  }
  &__slider-circle-cont {
    display: flex;
    @include __640 {
      position: absolute;
      top: -76px;
    }
  }
}

.js-main-page-range {
  transition: 0.3s ease-in;
  // &.active {
  //   &::after {
  //     content: "";
  //     width: 32px;
  //     height: 32px;
  //     position: absolute;
  //     border: 1px solid $color-red;
  //     border-radius: 50%;
  //     top: -8px;
  //     left: -8px;
  //     z-index: 222;
  //     cursor: pointer;
  //     transition: 0.3s ease-in;
  //   }
  // }
}
