%centre-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%centre-flex-columb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

%flex-columb {
  display: flex;
  flex-direction: column;
}

%centre-marg {
  margin-left: auto;
  margin-right: auto;
}

%centre-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%left-flex {
  display: flex;
  align-items: center;
  justify-content: left;
}

%size-page {
  max-width: $width-page;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

%padding-mob {
  padding-left: 16px;
  padding-right: 16px;
}

%modal-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin text(
  $size: 14px,
  $textAlign: center,
  $color: $color-black,
  $fontWeight: 400,
  $lineHeight: 22px
) {
  font-family: $font-main;
  font-size: $size;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
}

@mixin padding-mob {
  padding-left: 16px;
  padding-right: 16px;
}

@mixin __1280 {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin __960 {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin __860 {
  @media (max-width: 860px) {
    @content;
  }
}

@mixin __640 {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin __480 {
  @media (max-width: 480px) {
    @content;
  }
}
