// .swiper-button-next::after,
// .swiper-button-prev::after {
//   content: ">";
//   background-color: black;
//   color: aqua;
//   font-size: 150px;
//   width: 150px;
//   height: 150px;
// }
.btn-next,
.btn-prev {
  width: 200px;
  height: 200px;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
  font-size: 50px;
}

.main-slider .swiper-pagination {
  bottom: 0;
}

.main-slider .swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 102, 0);
  //list-style: 40px;
  font-size: 14px;
}

.main-slider .wrp-cont {
  position: absolute;
  @extend %centre-flex;
  flex-direction: column;
}

.main-slider .text {
  //position: absolute;
  font-size: 100px;
  z-index: 200;
  color: #51b900;
}

.main-slider {
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  // &__wrp-cont {
  //   height: 100%;
  //   position: relative;
  // }
  &__text-btn {
    padding-top: 20%;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  &__text-btn-wrt {
    position: relative;
    @extend %size-page;
    width: 1156px;
    @extend %padding-country;
  }
  &__text {
    max-width: 660px;
    width: 100%;
    margin-bottom: 40px;
    @include text(
      $size: 60px,
      $lineHeight: 80px,
      $color: $color-white,
      $textAlign: left,
      $fontWeight: 900
    );
    font-style: normal;
    text-transform: uppercase;
    z-index: 22;
  }
  &__btn {
    z-index: 100;
  }
  &__nav-btn-wrp {
    @extend %size-page;
  }
}

.swiper.main-slider-text {
  z-index: 10000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  // display: contents;
}

.main-slider__nav-btn-wrp .swiper-button-prev {
  left: 60px;
}
.swiper-button-prev::before {
  content: "";
  width: 100px;
  height: 56px;
  background-image: url("../icon/arrow-main-slider-left.svg");
}
.swiper-button-next::before {
  content: "";
  // content: "dsc";
  width: 100px;
  height: 56px;
  background-image: url("../icon/arrow-main-slider-right.svg");
  // margin-right: ;
}
