.main-slider-wrp {
  margin-bottom: 100px;
}
.btn-next,
.btn-prev {
  width: 200px;
  height: 200px;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
  font-size: 50px;
}

.main-slider
  > .swiper-pagination
  .swiper-horizontal
  > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal.main-slider__pagination {
  // width: 100%;
  // max-width: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  column-gap: 16px;
}

.main-slider .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  width: 24px;
  height: 4px;
  display: flex;
  position: relative;
  background-color: $color-red;
}
.main-slider .swiper-pagination-bullet {
  width: 24px;
  height: 4px;
  background-color: $color-white;
  border-radius: 0;
  font-size: 14px;
  opacity: 1;
  margin-right: 20px;
}

.swiper-pagination-bullet > span {
  margin-right: 20px;
}

.main-slider.swiper-pagination-bullet + .main-slider.swiper-pagination-bullet {
  margin-right: 20px;
}

.main-slider .wrp-cont {
  position: absolute;
  @extend %centre-flex;
  flex-direction: column;
}

.main-slider .text {
  //position: absolute;
  font-size: 100px;
  z-index: 200;
  color: #51b900;
}

.main-slider {
  position: relative;
  height: var(--height-monitor);
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  // &__wrp-cont {
  //   height: 100%;
  //   position: relative;
  // }
  &__text-btn {
    display: flex;
    flex-direction: column;
    @extend %size-page;
    max-width: 936px;
    margin-left: 0;
  }
  &__text-btn-wrt {
    position: relative;
    @extend %size-page;
    width: 1156px;
    @extend %padding-country;
  }
  &__text {
    max-width: 660px;
    width: 100%;
    margin-bottom: 40px;
    @include text(
      $size: 60px,
      $lineHeight: 80px,
      $color: $color-white,
      $textAlign: left,
      $fontWeight: 900
    );
    font-style: normal;
    text-transform: uppercase;
    z-index: 22;
    @include __860 {
      min-height: 132px;
      font-size: 32px;
      max-width: 452px;
      line-height: 44px;
      margin-bottom: 24px;
    }
  }
  &__btn {
    z-index: 100;
  }
  &__nav-btn-wrp {
    @extend %size-page;
  }
}

.swiper.main-slider-text {
  z-index: 10000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  // display: contents;
}

.swiper-slide .main-slider__text-btn-wrt {
  height: var(--height-monitor);
  max-width: 1440px;
  width: 100%;
  padding-left: 116px;
  position: absolute;
  display: flex;
  align-items: center;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include __860 {
    height: auto;
    padding-left: 36px;
    padding-top: 148px;
    align-items: flex-start;
  }
}

.main-slider__nav-btn-wrp .swiper-button-prev {
  left: 48px;
  @include __860 {
    display: none;
  }
}
.main-slider__nav-btn-wrp .swiper-button-next {
  right: 48px;
  @include __860 {
    display: none;
  }
}
.swiper-button-prev::before {
  content: "";
  width: 100px;
  height: 56px;
  background-image: url("../icon/arrow-main-slider-left.svg");
}
.swiper-button-next::before {
  content: "";
  // content: "dsc";
  width: 100px;
  height: 56px;
  background-image: url("../icon/arrow-main-slider-right.svg");
  // margin-right: ;
}

.swiper-button-next .swiper-button-prev .main-slider__nav-btn-wrp {
  max-width: 1440px;
  margin: 0 auto;
}
