html {
  // overflow-x: hidden;
  // margin-right: calc(-1 * (100vw - 100%));
}
:root {
  --width-page: 1440px;
  --height-monitor: 700px;
  --height-page: 700px;
}

.width {
  width: var(--width-page) px;
}

#body-cont {
  background-color: $color-background;
  overflow-x: hidden;
  &.active {
    overflow-y: hidden;
    padding-right: 17px;
    @include __860 {
      padding-right: 0;
    }
  }
}

.main-wrp {
  margin-top: 74px;
}

.btn-red {
  max-width: 160px;
  width: 100%;
  height: 44px;
  background-color: $color-red;
  @include text($color: $color-white, $fontWeight: 700);
  &:hover {
    background-color: $color-red-60;
    @include __860 {
      background-color: #991a1d00;
    }
  }
  &:active {
    background-color: $color-red-80;
    @include __860 {
      background-color: #991a1d00;
    }
  }
}

.btn-red-disabled {
  max-width: 160px;
  width: 100%;
  height: 44px;
  background-color: $color-gray-50;
  @include text($color: $color-white, $fontWeight: 700);
}

.btn-red-white-background {
  max-width: 160px;
  width: 100%;
  height: 44px;
  background-color: $color-gray-50;
  @include text($color: $color-white, $fontWeight: 700);
}

.text-h1 {
  @include text($size: 40px, $fontWeight: 900, $lineHeight: 60px);
  text-transform: uppercase;
}

.red-diamonds {
  width: 6px;
  height: 6px;
  display: flex;
  background-color: $color-red;
  transform: rotate(-45deg);
  opacity: 0;
  transition: 0.3s ease-in;
}

.input-wrp {
  max-width: 240px;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  border: 1px solid $color-gray-60;
  &__text {
    padding: 0 4px;
    position: absolute;
    top: -16px;
    left: 16px;
    background-color: $color-gray-100;
    @include text($size: 12px, $color: $color-gray-60, $lineHeight: 20px);
  }

  &:hover {
    border: 1px solid $color-white;
  }

  // <div class="header__phone-menu-schedule-input input-wrp">
  //   <span class="input-wrp__text">Введите номер телефона</span>
  //   <input type="tel" name="" id="" placeholder="+38(0__)___-__-__">
  // </div>
}

.number-amount {
  padding: 2px 4px;
  background-color: $color-red;
  @include text($size: 12px, $color: $color-white, $lineHeight: 12px);
}
