@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

$font-main: "Mulish", sans-serif;

$width-page: 1440px;

$color-black: #090102;
$color-gray-100: #1a1919;
$color-grey-95: #212121;
$color-grey-90: #343232;
$color-grey-80: #4e4b4b;
$color-grey-70: #686464;
$color-grey-60: #827d7d;
$color-grey-50: #9c9696;
$color-gray-40: #b5b0b0;
$color-gray-30: #cecaca;
$color-gray-20: #e6e5e5;
$color-gray-10: #f3f2f2;
$color-gray-5: #fafafa;
$color-white: #ffffff;

$color-red: #c12125;
$color-red-80: #890019;
$color-red-60: #991a1d;
$color-red-40: #df9793;
$color-red-30: #e8c1be;
$color-red-20: #fff3ef;
$color-red-10: #fff9fa;

$color-green: #51b900;
$color-orange: #f09000;
$color-golden: #ffc107;
$color-background: #f8f7f7;

:root {
  --my-variable-hiadth: 10px;
}
